<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="d-none d-sm-block h3 mb-3 text-center" i18n>Expenses</h1>

      <div class="expenses-toolbar d-flex flex-wrap">
        <mat-form-field
          appearance="outline"
          class="expenses-filter without-hint"
        >
          <mat-label i18n>From</mat-label>
          <input matInput [matDatepicker]="fromDatepicker" [(ngModel)]="from" />
          <mat-datepicker-toggle matSuffix [for]="fromDatepicker">
            <ion-icon
              class="text-muted"
              matDatepickerToggleIcon
              name="calendar-clear-outline"
            />
          </mat-datepicker-toggle>
          <mat-datepicker #fromDatepicker />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="expenses-filter without-hint"
        >
          <mat-label i18n>To</mat-label>
          <input matInput [matDatepicker]="toDatepicker" [(ngModel)]="to" />
          <mat-datepicker-toggle matSuffix [for]="toDatepicker">
            <ion-icon
              class="text-muted"
              matDatepickerToggleIcon
              name="calendar-clear-outline"
            />
          </mat-datepicker-toggle>
          <mat-datepicker #toDatepicker />
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="expenses-filter without-hint"
        >
          <mat-label i18n>Category</mat-label>
          <mat-select [(ngModel)]="categoryId">
            <mat-option i18n value="">All</mat-option>
            @for (category of categories; track category.id) {
              <mat-option [value]="category.id">{{ category.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button
          class="expenses-action-button"
          i18n
          mat-stroked-button
          type="button"
          (click)="onApplyFilters()"
        >
          Apply
        </button>

        <button
          class="expenses-action-button"
          color="primary"
          mat-flat-button
          type="button"
          (click)="onCreateExpense()"
        >
          <ion-icon aria-hidden="true" name="add-outline" />
          <span i18n>Create expense</span>
        </button>
      </div>

      @if (dataSource.data.length > 0) {
        <div class="expenses-table-wrapper">
          <table
            class="expenses-table gf-table w-100"
            mat-table
            [dataSource]="dataSource"
          >
            <ng-container matColumnDef="date">
              <th *matHeaderCellDef i18n mat-header-cell>Date</th>
              <td *matCellDef="let expense" mat-cell>
                {{ expense.date | date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="merchant">
              <th *matHeaderCellDef i18n mat-header-cell>Merchant</th>
              <td *matCellDef="let expense" mat-cell>
                {{ expense.merchant }}
              </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th *matHeaderCellDef i18n mat-header-cell>Category</th>
              <td *matCellDef="let expense" mat-cell>
                {{ expense.category?.name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th *matHeaderCellDef class="text-right" i18n mat-header-cell>
                Amount
              </th>
              <td *matCellDef="let expense" class="text-right" mat-cell>
                {{ formatAmount(expense) }}
              </td>
            </ng-container>

            <ng-container matColumnDef="currency">
              <th *matHeaderCellDef i18n mat-header-cell>Currency</th>
              <td *matCellDef="let expense" mat-cell>
                {{ expense.currency }}
              </td>
            </ng-container>

            <ng-container matColumnDef="comment">
              <th *matHeaderCellDef i18n mat-header-cell>Comment</th>
              <td *matCellDef="let expense" mat-cell>
                {{ expense.comment }}
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th
                *matHeaderCellDef
                class="expenses-actions text-right"
                mat-header-cell
              ></th>
              <td
                *matCellDef="let expense"
                class="expenses-actions text-right"
                mat-cell
              >
                <button
                  mat-icon-button
                  type="button"
                  [attr.aria-label]="'Edit expense'"
                  (click)="onEditExpense(expense)"
                >
                  <ion-icon aria-hidden="true" name="create-outline" />
                </button>
                <button
                  mat-icon-button
                  type="button"
                  [attr.aria-label]="'Delete expense'"
                  (click)="onDeleteExpense(expense.id)"
                >
                  <ion-icon aria-hidden="true" name="trash-outline" />
                </button>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
          </table>
        </div>
      } @else if (!isLoading) {
        <div class="py-5 text-center text-muted" i18n>
          No expenses have been created.
        </div>
      }
    </div>
  </div>
</div>
